.centered {
    display: flex;
    margin: auto;
}

#content figure .centered {
    display: flex;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

figure figcaption {
    display: flex;
    justify-content: center;

}

.color-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}

.color-box {
    width: 100%;
    height: 75px;
}

iframe {
    width: 100%;
    height: 14rem;
}

pre {
    max-height: 35rem;
}